<div class="bannerPage" >
    <%=link_to image_tag("NewHeader2.jpg", :size => "30000x10000"),"http://hermanosunidos.info/" %>
</div>


  <div class="center hero-unit">
    <h1>Academics</h1>

    <h2>Hermanos Unidos encourages Academic Excellence as one of it's 3 main pillars. We encourage all members to strive to acheive the best they possibly can in all such endeavors. We encourage members to study regularly, and we require all members to reach a quota of Academic Hours each quarter. 
    We encourage members to pursue research in whatever field they desire, to create a culture of academic rigor and reputation. 
    We provide scholarships for members to pursue internships and to enhance their real-world skills. 
    Each week, we host Academic Hours, and each year, we provide scholarships for Hermanos. Please contact the Academic Chair for details.</h2>


  </div>


