<div class="center hero-unit">
  <h1>Welcome to the website of Hermanos Unidos de UCSB</h1>

  <h2>
    Website Under Construction. Please use the <a href="http://huucsb.org">HU UCSB Official Website</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("NewHeader2.jpg", alt: "NewHeader"), 'http://huucsb.org' %>
