<div class="bannerPage" >
    <%=link_to image_tag("NewHeader2.jpg", :size => "30000x10000"),"http://hermanosunidos.info/" %>
</div>


  <div class="center hero-unit">
    <h1>Scholarships</h1>

    <h2>

1) For Internships/Research - 1 Available

<br>
$500 for the Hermano who demonstrates the most need, or does the most significant work. This can be an internship in business or research, or anywhere in between. For internships, the money should be used for travel or living expenses for the internship, as needed. For research, money can be used for travelling expenses, purchasing supplies, or any expenses related to the process of research. 
<br>
A budget for the expected expenses must be presented to the Academic Chair, along with an explanation of the internship or research endeavor. The Academic Chair may also provide guidance or research assistance. 
<br>
This scholarship will be presented and applied to Summer research, so that Hermanos may have enough time to find and secure internships or research. Hermanos are encouraged to reach out to professors and research departments, to think deeply about important research initiatives, and to find opportunities that help the community at large, as well as promoting personal growth. The Alamo/Lyte Internship will be used as a an example of a research initiative. 
<br>
Applications are expected to discuss an idea of an internship or summer research initiative by mid-Winter Quarter. By the beginning of Spring quarter, applicants should have applied to an internship or research initiative, and by mid-Spring quarter, Applicants should have heard back from the program. At that point, Applicants will be vetted by the Academic Chair, with assistance by Alex Lyte. 

<br>





<br><br><br><br><br>










2) For Web Development - 2 Available
<br>
This scholarship is designed to help hermanos learn basic web development skills. Web Development is a skill that is useful to all disciplines, and can be learned without any formal Computer Science training. Only a curious spirit is required. 
<br>
$250 will be granted to each Hermano who helps develop useful web applications for the site hermanosunidos.info. This site has potential to significantly improve the operations of Hermanos Unidos, but requires assistance from members who can take an active role in it’s development. Current challenges include: <br>
creating an online CLOP application, <br>
building the ability for members to ‘attend’ events and record which members attended which events, <br> 
building a ‘resume’-type form so that members can have an active ‘resume’ as their profile page which can be used to apply for jobs, <br>
building a tool to keep track of the aggregate HU GPA (to be improved year-over-year), <br>
keeping track of the classes Hermanos have taken, so that experienced members can help new members in classes they have experience in <br>
building a database resource for members to keep their research data in <br>
Any other feature which will help improve the operations and scale of Hermanos Unidos
<br>
The hermanosunidos.info website is built in the Ruby-on-Rails framework, which is a flexible Content Management System. Applicants should first build their own practice website using the Ruby on Rails tutorial (available for free at http://ruby.railstutorial.org/). Applicants who have first built their own small websites in this framework can then contact Alex Lyte (alexanderlyte@gmail.com) to discuss the details of the feature they’d like to add. 
<br>
The building of the example site (the RoR tutorial) is expected to take about 2 or 3 weekends for the diligent worker. Once the applicant understands the basics of GIT, Heroku, and RoR, we can begin to work together to create new features to advance the cause of HU. 
<br>
This scholarship will be awarded on an ongoing basis, and the first 2 hermanos to successfully build out a feature listed will be granted the award. 
</h2>


  </div>


