<% provide(:title, 'All Events') %>
  <div class="center joke-unit" >
    <h1> Create a New Event</h1>
    	<p>Contact the Webmaster to obtain the event creation codeword.</p> 
    	<p></p>
	    <%= link_to "Create Event", 'events/new',
                                class: "btn btn-large" %>
  </div>

<h1>All Events</h1>


<%= will_paginate %>

<ul class="events">
  <%= render @events %>
</ul>

<%= will_paginate %>
