@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */


.div{
  color: #eae9e3;
}

html {
  overflow-y: scroll;

/*  height:100%;
*/
}

body {
  padding-top: 60px;
/*  height:100%; margin:0; padding:0;*/
background-size: cover;
background-repeat:no-repeat;
background-attachment:fixed;
background-color: #27231f;
font-family: OptimusPrinceps;
font-size: 12pt;
color: #d0cdc9;
  a:link {
  color: #d0cdc9;
  }
  a:hover {
  color: #d0cdc9;
  }
  a:active {
  color: #d0cdc9;
  }
  a:visited {
  color: #d0cdc9;
  }
  .dropdown-menu{
    color: #333333;
  }
}


section {
  overflow: auto;
  background-color: #f4e8dc;
  padding-left: 10px;
    h1, h2, h3, h4, a{
    color: #333333;
  }

}

textarea {
  resize: vertical;
    color: #746a5f;

}


.joke-unit{
  text-align: center;
  height: 10%;
  color: black;
}



.center {
  text-align: center;
  background-color: #f0e7e0;
  h1 {
    margin-bottom: 10px;
/*    controls color of hero unit h1  */    
    color: black; 
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color:  #aea4a4;

}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #aea4a4;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
/*  controls paragraph text color in hero unit */  
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #aea4a4;
}

a{
  color: #d0cdc9;
}


/* header */

.nav, .pull-right, .dropdown-menu{
  color: #333333;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #d0cdc9;
  color: #d0cdc9;
  a:link {
    color: #d0cdc9;
   }
  a:hover{
    color: #d0cdc9;
   }
  a:active{
    color: #d0cdc9;
   }
  a:visited {
    color: #d0cdc9;
  }
  small {
    float: left;
/*    controls the small left footer text color */
    color: #d0cdc9;
    a {
      color: #d0cdc9;
      &:hover {
       color: #d0cdc9;
      }
    }
  }

  ul {
    float: right;
    list-style: none;
    color: #fff;
    li {
      color: #fff;
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*.bannerPage {
  background:url(NewHeader2.jpg);
  background-size:80px 60px;
  background-repeat:no-repeat;
  
  @include box_sizing;

}

*/
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid white;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid white;
    color: white;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}




/* forms */
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: white;
}
 // Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-dark.active {
  color: rgba(255,255,255,.75);
}

/* controls the form field label text color
deduced this from inspecting the element */

label {
  color: #aea4a4;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  color: #d0cdc9;
}

input {
  height: auto !important;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


